@import url('https://fonts.googleapis.com/css?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;
}

a,
a:hover {
    text-decoration: none;
}

a:hover {
    color: var(--primary-color) !important;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

/* ========= Variable Define ============ */
:root {
    --primary-color: #0a673a;
    --secondary-color: #43121d;
    --third-color: #f98169;
    --white-color: #fff;
    --text-color: #555;
    --text-grey: #999;
    --black-color: #000;
    --light-green: #a0f5c5;
    --parallax-color: #99af81;
    --wheat-color: rgb(241, 240, 231);
    --red-color: #f20707;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Quicksand', sans-serif;
    ;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-color);
    font-size: 100%;
    font-weight: 400;
}

/* 
=================================================
    Custom Scrollbar
================================================= 
*/

::-webkit-scrollbar {
    width: 0.625rem;
}
::-webkit-scrollbar-track {
    background: var(--white-color);
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color)
}

/* 
=================================================
    Custom CSS Design
================================================= 
*/

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: var(--secondary-color);
}

h2 {
    font-weight: 700;
    font-size: 1.9rem;
    text-transform: capitalize;
    font-family: var(--secondary-color);
    line-height: 3rem;
}

h3 {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 880;
    margin-bottom: 0.5rem;
}

h4 {
    color: var(--primary-color);
    text-transform: capitalize;
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    font-weight: 1000;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 1px;
    text-align: justify;
}

.main-btn {
    display: inline-block;
    padding: 0.625rem 1.875rem;
    line-height: 1.5625rem;
    background-color: var(--primary-color);
    border: 0.1875rem solid var(--primary-color);
    color: var(--white-color);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}

.white-btn {
    display: inline-block;
    padding: 0.625rem 1.875rem;
    line-height: 1.5625rem;
    background-color: var(--white-color);
    border: 0.1875rem solid var(--white-color);
    color: var(--text-color);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}

.main-btn:hover {
    background-color: transparent;
    color: var(--primary-color);
}

.white-btn:hover {
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.wrapper {
    padding-top: 7rem;
    padding-bottom: 3rem;
}

.text-content {
    width: 70%;
    margin: auto;
}

.counter-section h2,
.book-food-text h2{
    color: var(--white-color);
}

/* 
=================================================
    Header Design
================================================= 
*/

.navbar-brand img{
    max-height: 50px;
    width: auto;
    display: inline-block;
}

.brand-name {
    display: inline-block;
    padding-left: 1rem;
    padding-top: 1rem;
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 1000;
    font-family: cursive;
}

.navigation-wrap {
    position: fixed;
    width: 100%;
    left:0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navigation-wrap .nav-item {
    padding: 0 0.625rem;
    transition: all 200ms linear;
}

.navbar-toggler:focus {
    outline: unset;
    border: unset;
    box-shadow: none;
}

.nav-link {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--primary-color);
    letter-spacing: 1px;
}

/* Change navbar styling on scroll */

.navigation-wrap .main-btn {
    padding: 0.3125rem 1.4375rem;
    box-shadow: none;
    margin-left: 0.625rem;
}

.navigation-wrap.scroll-on {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--white-color);
    box-shadow: 0 0.125rem 1.75rem 0 rgb(0,0,0,0.5);
    transition: all 0.2s ease-in-out 0s;
}


/* 
=================================================
    Top Banner Design
================================================= 
*/

.top-banner {
    width:100%;
    padding: 7rem 0 9.375rem;
}

/* 
=================================================
    Counter Design
================================================= 
*/

.counter-section {
    background-color: var(--parallax-color);
    padding: 2.5rem 0;
}

.counter-section p {
    color: var(--white-color);
    text-transform: uppercase;
}

/* 
=================================================
    About Section Design
================================================= 
*/

.about-section {
    background: var(--white-color);
}

.about-section .card{
    border: none;
    background-color: transparent;
    border-radius: 2rem;
}

.about-section .card img{
    border-radius: 4rem;
    box-shadow: 0 0.125rem 1.75rem 0 rgb(0,0,0,0.5);
    display: inline-block;
    max-height: 450px;
    width: auto;
    padding: 0.13rem;
    margin-left: 2.5rem;
    margin-right: 1rem;
    object-fit: contain;
}

.about-section .text-sec{
    padding-left: 2rem;
}

.about-sec {
    padding-top: 0.25rem;
}

.about-sec ul li{
    font-size:  1rem;
    color: var(--text-color);
    line-height: 32px;
    position: relative;
    margin-left: 30px;
}

.about-sec ul li::before{
    position: absolute;
    left: -2.1875rem;
    color: var(--primary-color);
    font-size: 1.25rem;
    font-family: "Font Awesome 5 Free";
    content: '\f00c';
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
}

/* 
=================================================
    Products Section Design
================================================= 
*/

.products .card{
    border: none;
    background-color: transparent;
    border-radius: 0.9375rem;
}

.products .card img{
    border-radius: 0.9375rem;
    object-fit: cover;
}

.products .card span{
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
    padding-bottom: 1rem;
    border-bottom: 0.0625rem solid #eee;
}

.products .card span del{
    color: var(--text-color);
    margin-left: 0.5rem;
}

/* 
=================================================
    News & Announcement Section Design
================================================= 
*/

.news-section h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
    color: var(--black-color);
}

.news-section .carousel-item {
    /* height : 60vh; */
    padding: 0;
    margin-top: 0.5rem;
    max-height: 420px;
    width : 100%;
    background: no-repeat scroll center scroll;
    background-size: cover;
}

.news-section h1{
    text-align: center;
    padding-top: 1.2rem;
}

.news-section .carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--black-color);
    opacity: 0.4;
}

.news-section .carousel-caption {
    bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
}

.news-section .carousel-caption h5{
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 1rem;
}

.news-section .carousel-caption p{
    font-size: 17px;
    font-weight: 70;
    color: var(--wheat-color);
    text-align: center;
}

/* 
=================================================
    FAQs Section Design
================================================= 
*/

.faqs h4 span {
    color: var(--primary-color);
    font-size: 1.875rem;
    margin-right: 0.3125rem;
}

.parallex {
    width: 100%;
    background: linear-gradient(rgba(11, 32, 3, 0.1), rgba(195, 215, 201, 0.9)), url(../Images/foxnut_click_pan_parallax.jpeg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 71.9125px;
    padding: 4.37rem 0;
}

/* .parallex .parallex-text{
    
} */

.parallex h2{
    color: var(--primary-color);
    font-family: cursive;
    background: white;
    background-blend-mode: overlay;
    border-radius: 90px;
}

/* Form Control */
.newsletter{
    width: 60%;
    margin: 0 auto;
}

.newsletter .form-control{
    height: 3.225rem;
    padding: 0.625rem 1.875rem;
    font-size: 0.875rem;
    width: 100%;
    border: none;
    border-radius: 0;
    background: transparent;
    border: 0.1875rem solid var(--text-grey);
    color: var(--black-color);
    font-weight: 700;
    margin-left: 1rem;
}

.newsletter .form-control:hover,
.newsletter .form-control:focus{
    outline: none;
    box-shadow: none;
    border-color: var(--primary-color);
}

.newsletter h2{
    width: 50rem;
}

.newsletter p{
    padding-left: 3rem;
}

/* 
=================================================
    Footer Section Design
================================================= 
*/

.footer {
    background: var(--primary-color);
}

.footer .footer-link {
    font-size: 1rem;
    color: var(--white-color);
    padding: 0 1.875rem;
}

.footer .footer-link:hover{
    color: var(--white-color) !important;

}

.footer a i {
    font-size: 1.5rem;
    color: var(--white-color);
    padding: 0 1rem;
}

/* 
=================================================
    Contact Us Page Design
================================================= 
*/

.wrapper-contact {
    padding-top: 7.25rem;
}

.contact-section {
    background: #022b17;
    /* background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.0)), url(../Images/foxnut_click_pan_1.jpeg)  no-repeat center;
    background-size: cover; */
}

.contact-section .con{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    padding-top: 0.0525rem;
}

.contact-section h2{
    font-size: 30px;
    text-align: center;
    color: var(--white-color);
}

.contact-section .contact-details h6 {
    color: var(--white-color);
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 3rem;
}

.contact-section .con form{
    width: 650px;
    text-align: center;
}

form .input-box {
    display: flex;
    justify-content: space-between;
}

.input-box .input-field {
    width : 49%;
}

.field .item {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 2px solid var(--light-green);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #ededed;
    margin: 8px 0;
}

.field.error .item {
    border-color: var(--third-color);
}

.field .item::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

.field .error-text {
    font-size: 14.5px;
    color: var(--third-color);
    text-align: left;
    margin : -5px 0 10px;
    display: none;
}

.field.error .error-text {
    display: block;
}

/* form .textarea-field .item {
    resize: none;
} */

form .textarea-field .error-text {
    margin-top: -10px;
}

form button {
    padding: 12px 32px;
    background: var(--parallax-color);
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px var(--parallax-color);
    font-size: 16px;
    color: var(--primary-color);
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 5px;
}

form button:hover {
    box-shadow: none;
}

.contact-section .contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section .contact-info .row{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 600px;
    margin-left: 5rem;
    padding-top: 0.625rem;
}

.contact-section .contact-info h4{
    color: var(--white-color);
}

.contact-section .contact-info p{
    color: var(--white-color);
    max-width: 200px;
    padding-bottom: 1rem;
}

.contact-section h6{
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-top: 0.01rem;
}
